{% assign checkurl = include.src | prepend: '???' %}
{% if checkurl contains '???http' %}
  {% assign escapedincludesrc = include.src | uri_escape %}
  {% assign src = "https://image.webservices.ft.com/v1/images/raw/" | append: escapedincludesrc | append: ?source= | append: site.image-service-id %}
{% else %}
  {% assign src = include.src %}
{% endif %}

<figure
{% if include.float != nil %}
 style="float: {{ include.float }};"
{% endif %}
>
  <img alt="{{ include.alt }}"
       src="{{ src }}"
       width="{{ include.width | default: site.default-image-width }}"
       class="{{ include.class | default: "aligncenter size-full" }}"
    />
  {% if include.description != nil %}
  <figcaption>{{ include.description }}</figcaption>
  {% endif %}
</figure>
