<header>
	<nav>
		<ul id="menu-header-navigation" class="app-header_nav">
			<li class="menu-item menu-item-type-post_type menu-item-object-page home"><a class="icon" href="/index.html"><img src="/assets/imgs/ftlabs-icon.png" alt="The FT Labs Nav Icon" /></a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page {% if page.title == 'Articles' %}current_page{%endif%}"><a href="/articles/">Articles</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page {% if page.title == 'Jobs' %}current_page{%endif%}"><a href="/jobs/">Jobs</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page {% if page.title == 'About' %}current_page{%endif%}"><a href="/about/">About</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page {% if page.title == 'Contact Us' %}current_page{%endif%}"><a href="/contact-us/">Contact</a></li>
		</ul>
	</nav>
</header>
