<header>
	<nav>
		<ul id="menu-header-navigation" class="app-header_nav">
			<li class="menu-item menu-item-type-post_type menu-item-object-page home"><a href="/index.html">FT&nbsp;LABS</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent"><a href="/articles/">Articles</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/jobs/">Jobs</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about/">About</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/contact-us/">Contact</a></li>
		</ul>
	</nav>
</header>
