<header>
	<nav>
		<img src="/assets/imgs/labs-menu-icon.png" alt="The FT Labs navigation icon"/>
		<ul id="menu-header-navigation" class="app-header_nav">
			<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/index.html">Home</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent"><a href="/articles/">Articles</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/jobs/">Jobs</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about/">About</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/contact-us/">Contact</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/feed.xml">RSS</a></li>
		</ul>
	</nav>
</header>
