<div class='sidebar'>
	<div class='logo-wrap'>
		<a href='/index.html' class='logo'>
			<h1>FT Labs</h1>
		</a>
	</div>
	<nav>
		<ul id="menu-header-navigation" class="app-header_nav"><li id="menu-item-14082" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14082"><a href="/index.html">Home</a></li>
			<li id="menu-item-14083" class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-14083"><a href="/articles/">Articles</a></li>
			<li id="menu-item-14084" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14084"><a href="/jobs/">Jobs</a></li>
			<li id="menu-item-14085" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14085"><a href="/contact-us/">Contact</a></li>
		</ul>
	</nav>
</div>
